*{
    padding : 0;
    margin : 0;
    box-sizing:border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* general background and move content to the center*/
body {
width: 100vw;
height: 100vh;
background-color: rgb(255, 192, 241);
display: flex;
justify-content: center;
align-items: center;
}
/* styles the start, restart and next button*/
#start-button, #restart-button, #next-button, #answer-button{

    font-size: 1.3em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    margin: 20px;
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(255, 192, 241),pink, rgb(225, 53, 225));
}
#questionDisplay {
    font-size: 2.0em;
}
#next-button{
justify-content: left;
align-items: center;
}
#restart-button{
    margin-left: 65px;
    }
/*style for the container box*/
.container{
    background-color: white;
    padding: 3.1em 1.8em; 
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius:0.6em;
    box-shadow: 0 0 10px 6px;
}
.button-grid{
    display:grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
    gap: 20px;


}
.hide{
    display: none;
}
.visible{
    display: visible;
}